.cart-container{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.cart-title{
    margin-top: 0.4rem;
}

.purchased-list{
    margin-top: 1.2rem;
    
    display: flex;
    flex-direction: column;
}

.purchased-info{
    margin-top: 1.6rem;
}

.purchased{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin-top: 2.4rem;
}

.purchase-submit{
    margin: 0.8rem;
    padding: 0.4rem;
    color: white;
    background-color: #1B1818;
    border-radius: 0.2rem;
}