/* universal reset */
* {
  font-family: 'Poppins', sans-serif;
  /* use zero margin and padding instead of browser defaults */
  margin: 0;
  padding: 0;
  /* set box width and height to element's content + padding + border instead of CSS' default box model sizing in which
     box width and height are related only to the element's content because the former is more intuitive
     See https://css-tricks.com/almanac/properties/b/box-sizing/ */
  box-sizing: border-box;
}
/* reset box sizing for pseudo elements */
*::before,
*::after {
  box-sizing: inherit;
}

a{
  text-decoration: none;
}

/*-------HEADER-------------------*/
#barra-nav {
  background-color: #1B1818;
  color: #DFE22F;
  padding: 1%;
  /* flex container properties*/
  display: flex;
  justify-content: start;
  align-items: center;
}

#logo{
  height: 4.5rem;
  width: 4rem;
}

#link-header {
  color: #DFE22F;
  text-decoration: none;
  text-align: right;
  margin-right: 1rem;
}

#link-lista{
  display: flex;
}

#header-links{
  margin-left: auto;
  margin-right: 0.8rem;
}

#header-links li {
  list-style-type: none;
}

#user-img{
  height: 1.8rem;
  width: 1.8rem;   
}

/*-------------------------*/

a:visited{
  color:inherit;
}