
.info-edit-product{
    margin: 2.4rem;
    display: flex;
    justify-content: center;
}

.form-description{
    width: 22rem;
}

.addProduct-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addProduct-box{
    border: 0.8em solid #1B1818;
    padding: 1%;
  
    /* flex container properties */
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    align-items: center;
}

.addProduct-box label, .addProduct-box input{
    display: block;
    width: 100%;
}
  