.bar-nav {
  background-color: #1B1818;
  color: #DFE22F;
  padding: 1%;
  /* flex container properties*/
  display: flex;
  justify-content: start;
  align-items: center;
}

.logo{
  height: 4.5rem;
  width: 4rem;
}

.link-header {
  color: #DFE22F;
  text-decoration: none;
  text-align: right;
  margin-right: 1rem;
}

.link-list{
  display: flex;
}

.header-links{
  margin-left: auto;
  margin-right: 0.8rem;
}

.header-links li {
  list-style-type: none;
}

.user-img{
  height: 1.8rem;
  width: 1.8rem;   
}