@import "../common.css";

#link-header {
    color: #DFE22F;
    text-decoration: none;
    text-align: right;
    margin-right: 1rem;
}

#link-lista{
    display: flex;
}

#header-links{
    margin-left: auto;
    margin-right: 0.8rem;
}
  
#header-links li {
    list-style-type: none;
}

#user-img{
    height: 1.8rem;
    width: 1.8rem;   
}
  